@CHARSET "ISO-8859-1";
#sidebar{
	padding-left: 0;
	position: relative;
	min-height:500px;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background-color: #fff;
}
#sidebarHeader{
	height: 75px;
}
#sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar li a, #sidebar li button{
	display: block;
	width: 100%;
	line-height: 50px;
	padding: 0 0 0 10px;
	text-align: left;
	color: #1b75ba;
}
#sidebar li{
	margin: 0;
	padding:0;
	width: 100%;
	background-color: transparent;
	border-bottom: 1px solid #aaa;
}
#sidebar li a:HOVER, #sidebar li button:HOVER{
	background-color: #1b75ba;
	color: #fff;
	text-decoration: none;
}
#bottomSidebar{
	position: absolute;
	bottom: 0;
	border: none;
	width: 100%;
}
#bottomSidebar li{	
	border-top: 1px solid #aaa;
	border-bottom: none;
}
#contentBody{
	min-height: 500px;
	position: relative;
}
#footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 15px;
}
