body{
	background-color: #fff;
}
header {
	padding: 5px 0;
	border-bottom: 1px solid #aaa;
	display: block;
}

#footer {
	margin-top:10px;
	border-top: 1px solid #aaa;
}

#footer #copyNotice {
	text-align: right;
	padding-right: 10px;
}

.formLabel {
	text-align: right;
}

form .row {
	margin-bottom: 10px;
}

.errorBox {
	background-color: rgba(255, 200, 200, 0.5);
	border: 1px solid #f00;
	padding-left: 10px;
	color: #f00;
}

h1, h2, h3 {
	margin: 0 0 10px 0;
	padding: 0;
	color: #1b75ba;
}

a {
	color: #1b75ba;
}

a:HOVER {
	text-decoration: none;
	color: #1b75ff;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

.nopadding {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.btn-icon {
	width: 40px !important;
}

.alert {
	margin: 10px 0 !important;
}

.alert-danger ul {
	margin-left: 20px;
}

.menuTileContainer {
	position: relative;
}

.menuTile {
	display: inline-block;
	margin: 10px 1%;
	width: 30%;
	border: 1px solid #000;
	font-size: 75px;
	text-align: center;
	position: relative;
}

.menuTile p {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0;
	padding: 5px;
	right: 0;
}
.required-indicator{
	color: #f00;
}
.buttons{
	margin-top: 10px;
}
.pageHeader{
	margin-bottom: 10px;
}
table{
	margin: 10px;
}
th{
	background-color: #1b75ba;
	color: #fff;
}
th.sorted{
	background-color: #0b65aa;
}
th a{
	color: #fff;
}
th a:HOVER {
	color: #fff;
}
.alert-danger h3{
	color: #a94442
}