@CHARSET "ISO-8859-1";
#topNavContainer{
	background-color: #1b75ba;
}
#topnav{
	text-align: center;
}
#topnav a{
	width: 100%;
	line-height:40px;
	display: block;
	color: #fff;
	overflow: hidden;
}
#topnav a:HOVER{
	font-weight: bold;
}
#topnav .item{
	width: 33.3333333%;
	float: left;
}
#sidebarMenuList{
	list-style: none;
	margin-top: 75px;	
}
#sidebarMenuList li a{
	display:block;
	line-height: 50px;
}
#logoNav{
	margin: 5px 0;
	height: 75px;
}
.friendListBox .name{
	font-size: 1.2em;
	font-weight: bold;
}
.friendListBox{
	border-bottom:1px solid grey;
	margin: 20px 0;
}
.friendListBox .btn{
	margin-top: 5px;
}
#friendSearchResult{
	margin-top: 10px;
}
#content{
	margin-top: 30px;
}
#friendSearchBox{
	margin-top: 10px;
}